doctype html
html
	head
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")
		meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
		meta(name="viewport", content="width=720")
		title 我與李敏鎬的完美自拍
		script(src="/javascripts/jquery-1.11.1.min.js")
		link(rel="stylesheet", href="/stylesheets/style.css")
		script(src="/javascripts/control.js")
	body
		div(id="fb-root")
		div(class="MainContainer")
			div(class="AskLikeContainer Hide")
			div(class="EventPanelContainer Hide")
				div(class="Background")
				div(class="EventPanel")
					div(class="ButtonContainer")
						div(class="EventButton1 Active")
						div(class="EventButton2")
						div(class="EventButton3")
					div(class="TermsContainer")
						img(src="/images/Terms.png")
					div(class="AwardContainer Hide")
			div(class="PhotoActionContainer Hide")
				div(class="Background")
				div(class="ChoosePhotoPanel")
					div(class="CellphoneLogo")
					div(class="ControlContainer")
						form(action="", method="post")
							input(type="image", src="/images/SelectPhotoButton.png", class="SelectFileButton")
							input(type="file", name="ImageFile", class="FileInput")
							br
							input(type="image", src="/images/SelectPhotoSubmit.png" class="SubmitPhoto")
							input(type="image", src="/images/SelectPhotoCancel.png" class="CancelChoosePhoto")
				div(class="EditPhotoPanel Hide")
					div(class="ControlContainer")
						div(class="MoveUp")
						div(class="MoveDown")
						div(class="MoveLeft")
						div(class="MoveRight")
						div(class="ZoomIn")
						div(class="ZoomOut")
						div(class="Confirm")
					div(class="CanvasContainer")
						canvas(width="427", height="332")
				div(class="UploadingPhotoPanel Hide")
					img(class="Uploading", src="/images/Uploading.gif")
				div(class="ShareToFacebookPanel Hide")
					div(class="ShareToFacebookDescription")
					div(class="ShareButton")
			div(class="HeadImageContainer")
			div(class="PromotionContainer")
				div(class="ButtonContainer")
					div(class="PromotionButton1")
					div(class="PromotionButton2")
					a(href="http://www.lg.com/tw/smart-phones/lg-D855", target="_blank")
						div(class="PromotionButton3")
				div(class="PromotionContentContainer")
					div(class="MovieContent")
						div(class="Description")
						img(class="CameraButton", src="/images/Camera.gif", alt="上傳照片")
						iframe(class="MoviePlayer", width="614", height="372", src="//www.youtube.com/embed/6HFD3G_Ym2Y?wmode=transparent", frameborder="0", allowfullscreen="")
				div(class="FooterDescription")
			div(class="SeparatorText")
			div(class="ImageContainer")
				div(class="PreviousPage")
				div(class="NextPage")
				div(class="ImageListBox")
					div(class="ImageList")
					//- block content